.reveal blockquote {
    width: 90%;
    padding: 0 5%;
}

.reveal code {
    background: black;
}

.reveal pre {
    background: black;
    width: 100%;
    text-align: left;
}

.reveal section img {
    border: 0px;
    margin: 0px;
}
